.ui.primary.button, .ui.primary.buttons .button {
    background-color: $theme-primary;
    border-radius: $border-radius-button;
    color: $white-80;
    font-size: $font-size-xs;
    letter-spacing: 0px;
    line-height: $line-height-base;
    text-transform: uppercase;
    transition: all .2s;

    &:active, &:focus, &:hover {
        background-color: $theme-secondary;
        color: $white;
    }

}