$white: #fff;
$white-80: rgba(255,255,255,.8);
$theme-primary: #00a7f4;
$theme-secondary: #FFD700;
$grey-default: #2b2b2b;

$border-width-default: 2px;
$border-radius-button: 25px;

$font-size-base: 1rem;
$font-size-xs: $font-size-base * 0.8125; // 13px

$line-height-base: 1rem;

$gutter-base: 1rem;
$gutter: $gutter-base * 1.25; // 20px
$gutter-s: $gutter * 0.625; // 10px;
$gutter-l: $gutter-base * 2.5; // 40px
