<template>
  <div class="ui center aligned fluid container container--header">
    <router-link to="/">
      <img src="../assets/images/logo.png" />
    </router-link>
  </div>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style scoped lang="scss">
@import "../assets/scss/_variables.scss";

.container--header {
  margin-bottom: $gutter-l;
  padding-top: $gutter;
  padding-bottom: $gutter;
}
</style>