<template>
  <div class="ui container centered home-slider">
    <div class="ui container center aligned" v-if="errored">
      <p>We're sorry, we're not able to retrieve this information at the moment, please try back later</p>
    </div>

    <div v-else>
      <div class="ui container loading-container center aligned" v-if="loading">
        <img src="../assets/images/loading-icon.gif" />
      </div>

      <div v-else>
        <h1 class="ui center aligned header">Now Showing</h1>
        <VueSlickCarousel v-bind="sliderSettings">
          <div class="home-slider__slide" v-for="(video, index) in response" :key="index">
            <div class="home-slider__slide-inner">
              <router-link
                :to="{ name: 'video', params: { videoTitle: video.title, video: video } }"
              >
                <img class="ui centered image" :src="video.poster" />
              </router-link>
            </div>
          </div>
        </VueSlickCarousel>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import VueSlickCarousel from "vue-slick-carousel";
import "vue-slick-carousel/dist/vue-slick-carousel.css";
import "vue-slick-carousel/dist/vue-slick-carousel-theme.css";

export default {
  name: "Home",
  components: { VueSlickCarousel },
  data() {
    return {
      response: null,
      loading: true,
      errored: false,
      sliderSettings: {
        arrows: true,
        autoplay: true,
        dots: true,
        infinite: true,
        lazyload: "ondemand",
        speed: 500,
        slidesToShow: 3,
        slidesToScroll: 1,
        responsive: [
          {
            breakpoint: 992,
            settings: {
              dots: false,
              slidesToShow: 2
            }
          }
        ]
      }
    };
  },
  mounted() {
    axios
      .get("http://hybridtv.ss7.tv/techtest/movies.json")
      .then(response => {
        this.response = response.data.data;
      })
      .catch(error => {
        console.log(error);
        this.errored = true;
      })
      .finally(() => (this.loading = false));
  }
};
</script>

<style scoped lang="scss">
@import "../assets/scss/_variables.scss";

.home-slider {
  padding-left: $gutter;
  padding-right: $gutter;
}

.home-slider__slide-inner {
  border: $border-width-default transparent solid;
  margin-right: $gutter;
  margin-left: $gutter;
  text-align: center;

  &:focus,
  &:hover {
    border: $border-width-default $theme-secondary solid;
  }
}
</style>
