<template>
  <div class="ui center aligned container">
    <h1 class="ui header">{{ video.title }}</h1>
    <video
      class="video"
      controls
      :poster="video.poster"
      @canplay="updatePaused"
      @playing="updatePaused"
      @pause="updatePaused"
    >
      <source :src="video.video" type="video/mp4" />
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a
        web browser that
        <a
          href="http://videojs.com/html5-video-support/"
          target="_blank"
        >supports HTML5 video</a>
      </p>
    </video>
    <div class="controls">
      <button class="ui primary button button-control" v-show="paused" @click="play">
        <img src="../../assets/images/btn-play.png" /> Play
      </button>
      <button class="ui primary button button-control" v-show="playing" @click="pause">
        <img src="../../assets/images/btn-pause.png" /> Pause
      </button>
      <router-link to="/">
        <button class="ui primary button">Go Back</button>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "Video",
  data() {
    return {
      videoElement: null,
      paused: null,
      test: this.$route.params
    };
  },
  methods: {
    updatePaused(event) {
      this.videoElement = event.target;
      this.paused = event.target.paused;
    },
    play() {
      this.videoElement.play();
    },
    pause() {
      this.videoElement.pause();
    }
  },
  computed: {
    playing() {
      return !this.paused;
    }
  },
  props: ["video"]
};
</script>

<style scoped lang="scss">
@import "../../assets/scss/_variables.scss";

.controls {
  display: flex;
  justify-content: center;
}

.button-control {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 10px;
    margin-right: 5px;
  }
}

.video {
  margin-bottom: $gutter;
  max-width: 100%;
}
</style>
